.page{
    width: 30px;
    height: 20px;
    color: #bdb9b9;
    border: solid black 1px;
    border-radius: 3px;
    background: none;
    margin: 5px;
}
.page_active{
    width: 30px;
    height: 20px;
    color: #bdb9b9;
    border: solid black 1px;
    border-radius: 3px;
    background: slategrey;
    margin: 5px;
}
.wrapper{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}