
.cards{
    display: flex;
    flex-wrap: wrap;
    min-height: 600px;
    justify-content: center;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
}

@media screen and (max-width: 480px) {
    .mobile {
        display: block;
    }
    .desktop{
        display: none;
    }
    .cards_wrapper{
        width: 350px;
        display: flex;
        justify-content: center;
    }
}