.actor_page * {
    margin: 10px;
}

.actor_page {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

img {
    border-radius: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    align-items: center
}
h3{
    margin: 25px;
}
.actor_film{
    display: flex;
    flex-wrap: wrap;
}
