.home_wrapper {
    display: flex;
    align-items: center;
}

.title {
    font-weight: bolder;
    font-size: 35px;
    height: 30px;
    box-sizing: border-box;
    align-items: end;
    position: relative;
    bottom: 50px;
    margin-left: 20px;
}

.img {
    height: 500px;
    border-radius: 10px;
    box-shadow: black 0 0 9px 2px;
}

.img_wrapper {
    height: 500px;
    box-sizing: border-box;

}
.button{
    width: 30px;

}
h1{
    margin: 0 50px 20px;

}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
a{
    text-decoration: none;
}