.home_wrapper {
    display: flex;
    align-items: center;
}

.title {
    font-weight: bolder;
    /*font-size: 35px;*/
    font-size: 3vw;
    height: 30px;
    /*box-sizing: border-box;*/
    /*align-items: end;*/
    position: relative;
    bottom: 6vw;
    margin-left: 20px;
    text-shadow: 1px 1px black;

}

.img {
    /*height: 500px;*/
    width: 100%;
    border-radius: 10px;
    box-shadow: black 0 0 9px 2px;
}

.img_wrapper {
    width: 70%;
    box-sizing: border-box;
    margin: auto;
}

h1{
    margin: 1vw 0 3.5vw;
    font-size: 3.5vw;
    text-shadow: 2px 2px black;

}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
@media screen and (max-width: 480px){
    .img_wrapper{
        width: 90%;
    }
}