
* {
    margin: 0;
    text-decoration: none;
    /*color: wheat;*/
    color: #bdb9b9;
}

body {
    background: #2d353b;
    font-family: 'Roboto', sans-serif;
}

.page_wrapper {
    width: 100%;
    padding: 20px 5% 30px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

